[Unit]
Description=streamlit app for checker
After=syslog.target

[Service]
ExecStart=/home/pipeline/miniforge3/envs/checker/bin/streamlit run /mnt/samba/scripts/deployment-yaml/configs/app.py
RuntimeDirectory=/mnt/samba/scripts/deployment-yaml/
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
